<div class="row">
<div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
    <img src="../../../assets/fotoperfil.png" class="img-fluid" id="fotodeperfil">
</div>
<div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
    <p id="nombre">Godoy Daiana Soledad</p>
    <p>Full Stack Developer Jr</p>
</div>
<div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
    <span>
        <h1>Acerca de mi</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Officiis minus molestias labore, omnis, quod consectetur perferendis numquam cumque ad facere quas accusamus, iste voluptas deleniti ut ipsa sunt! Rerum, repellat.</p>
    </span>
</div>
</div>
